*{
    margin: 0px;
    background-color: #d2d2d2;
    font-family: 'Mulish', sans-serif;
    outline: ;

}

.containermain{
    background-color: ;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section{
    height:95vh;
    border: ;
    scroll-snap-align: start;
    scroll-snap-stop: always ;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #ffffff;
    margin-top: 10px;
    box-shadow: -5px -5px 9px #cecece,
                5px 5px 9px #cecece;
}

.nav_bar{
    border:;
    background-color: #6200ee ;
    height: 40px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.nav_bar1{
    /*border: 2px solid purple;*/
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: #6200ee;
    font-family: monospace;
    font-weight: bold;

    
}

.nav_bar2{
    /*border: 2px solid green;*/
    margin-right: 5px ;
    margin-bottom: 10px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    background-color: #6200ee;
}
a:link{
    color:white;
    


}
a:hover{
    color: yellow;
    text-decoration:underline;
    font-size: large;
}

.more{
    background-color: #6200ee;
}
a{
    text-decoration: none;
    background-color: #6200ee;
    color: #ffffff;
}


.nav_main{
    background-color: #ffffff ;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.logo{
    border:;
    background-color: #6200ee;
    width: ;
    border-radius: 4px;
    margin-top: 3px;
    color: #ffffff;
    text-align: center;
    padding: 2px 3px 2px 3px;
    font-weight: bold;


}

.menu{
    border: ;
    background-color: #6200ee;
    width: 60px;
    border-radius: 4px;
    margin-top: 3px;
    color: #ffffff;
    text-align: center;
    padding:2px 3px 2px 3px;
}

.home_bar{
    border:;
    height:calc(100% - 64px) ;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon1{
    height: 55vh;
    width: 70%;
    background-color: #ffffff;
}

.home_icon{
    border: ;
    margin-top: 15px;
    background-color: #ffffff;
    text-align: center;
}

.home_text{
    border: ;
    margin-top: 10px;
    text-align: center;
    background-color: #ffffff;
}

.section1{
    display: flex;
    flex-direction: column;

    
}

.welcoming_container{
    border-top: 4px solid #3700b3;
    border-bottom: 4px solid #3700b3;
    text-align: center;
    padding:10px;
}

.skills_container{
    border: ;
    background-color: #6200ee;
    width: max-content;
    height: max-content;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 3px;

    padding: 3px;
}

#skills{
    background-color: #6200ee;
    font-size: 5vw;
    color: #ffffff;
}

.skills_content{
    border: ;
    margin: 15px 10px 0px 20px;
    height: inherit;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-direction: column;
}

.skill_1{
    border: ;
    background-color: #ffffff ;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}


.section_1_0{
    border: ;
    display: flex;
    flex-direction: column;
}

.skill_1_1{
    border: ;
    background-color: #ffffff;
    width: 94%;
    height: 46%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: row;


}
.skill_3{
    
}

.skill_4{
    
}

.skills_menu{
    border-left: 0.5px solid #4169e1 ;border-radius: 3px;
    
    width: 40%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skills_info{
    border-bottom:0.5px solid #4169e1 ;
    width: 55%;
    margin-left: 5px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2vh 2vw;


}

.skills_image{
    border:;
    height: 80%;
    width: 90%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.skill_name{
    border: 1px solid #4169e1;
    margin-top: 5px;
    border-radius: 3px;
    background-color: #4169e1;
    

}



.skills_icons{

    height: 20vh;
    width: auto;
}
/* am starting another section*/

.section_2{

    display: flex;
    flex-direction:column ;
}

.project_container{
    border: ;
    background-color: #6200ee;
    width: max-content;
    height: max-content;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 3px;

    padding: 3px;
}




#projects{
    border:;
    background-color: #6200ee;
    font-size: 5vw;
    color: #ffffff;

}

.project_content{
    border: ;
    height: inherit;
    margin: 15px 10px 0px 20px;
    height: inherit;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-direction:column;
    background-color: #ffffff

}


/* starting another section, section 3*/

.section_3{
    border: ;
}

.portfolio_content{
    border: ;
    height: 95%;
    margin: 15px 10px 0px 20px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-direction:column;
    background-color: #ffffff;
}

.project_1{
    border:;
    height: 49%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;



    width: 99%;
    background-color: #ffffff;
    /*background-color: rgb(54.36% 65.36% 76.77% / 74%);*/
}

.title_head{
    border: ;
    height: 18%;
    width: 50%;
    text-align: center;
    background-color: #ffffff;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.title_icon{
    border:/* 0.2px solid #3700b3*/;
    height: 45%;
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;

    

}
.title_ico{
    max-width: 100%;
    background-color: #ffffff;
    max-height: 100%;
    display: block;
}

.desc_text{
    border: ;
    height: 18%;
    width: 80%;
    background-color: #ffffff;
    font-size: small;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 3px 2px 3px;

}

.click_me{
    border: ;
    height: 8%;
    border-radius: 2px;
    height: fit-content;
    width: fit-content;
    font-weight: bolder;
    padding: 4px 4px 4px 4px;
    color: #ffffff;
    background-color:#6200ee;

}

/* media screen ***********************************************bmw */

@media screen and (min-width: 700px){
    .portfolio_content{
        display: flex;
        flex-direction: row;
    }

    .project_content{
        display: flex;
        flex-direction: row;
    }

    .project_1{
        border: ;
        height: 99%;
        width: 49%;
        border-radius: 3px;
        background-color: #ffffff;
        /*background-color: rgb(54.36% 65.36% 76.77% / 74%)*/;
    }

    
}


/* starting another section, section 4*/

.hr_1{
    width: 70%;
    margin: auto;
    margin-top: 10px
}
.section_4{
    border:;
}

.about_me{
    border:  ;
    height: 50%;
    background-color: #6200ee;
    color: #ffffff ;
    text-align: center;
}

.about_me_word{
    border: ;
    background-color: #6200ee;
    margin-top: 5px;
}

.about_me_info{
    border: ;
    background-color: #6200ee;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    
}

@media screen and (max-width: 800px){
    .about_me_info{
        font-size: 3vw;


    }

    
}

@media screen and (min-width: 800px){
    .about_me_info{
        font-size: 2vw;


    }

    
}




.italic_words{
    margin-top: 2px;
    background-color: #6200ee;
}

.h2_1{
    background-color: #6200ee;
}

.p_1{
    background-color: #6200ee;
}

.my_photo{
    border:  ;
    height: inherit;
    display: flex;
    background-color: #ffffff;

    flex-direction: column;
    align-items: center;
    justify-content:;
}

.photo{
    border:  ;
    margin-top: 20px;
    text-align: center;
    background-color: inherit;
    


}
.photo_1{
    height: auto;
    width: 40%;
    background-color: #344955;
    border-radius: 3px;

}

.photo_name{
    margin-top: 10px;
    font-weight: bolder;

}





/* starting another section, section 5*/

.section_5{
    border:  ;
    display: flex;
    flex-direction: column;
    justify-content: ;
    background-color: #ffffff;
    

}

.contact_information{
    border: ;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    
}

.conect_button{
    border: ;
    background-color: #ffffff;
}

.contact_button{
    border:1px solid #3700b3 ;
    border-radius: 5px;
    font-size: 3vw;
    margin-top: 20px;
    width: 40vw;
    
    background-color: #3700b3;
    padding: 7px;
    color: #ffffff;
    
}




.ending_information{
    border: 0.5px solid #4169e1;
    border-radius: 3px;
    text-align: center;
    background-color: rgb(54.36% 65.36% 76.77% / 74%);
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
}

.name_input{
    margin-top: 10px ;
    width: 80%;
    height: 30px;
    background-color: #ffffff;
    border: 0.5px solid #4169e1;

}
.email_input{
    margin-top: 10px;
    width: 80%;
    height: 40px;
    background-color: #ffffff;
    border: 0.5px solid #4169e1;
}
.subject_input{
    margin-top: 10px;
    width: 80%;
    height: 40px;
    background-color: #ffffff;
    border: 0.5px solid #4169e1;

}
.message_input{
    margin-top: 10px;
    width: 80%;
    height: 80px;
    background-color: #ffffff;
    border: 0.5px solid #4169e1;

}
.submit{
    border:2px #4169e1 ;
    background-color: #4169e1;
    color: #ffffff;
    margin-top: 10px;
    width: 82%;
    height: 40px;
    border-radius: 25px;
    margin-bottom: 10px;
}



.ending_para{
    background-color: #ffffff;
}


.social_media_links{
    border: ;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.github{
    border: 0.5px solid #3700b3;
    color: #3700b3;
    border-radius: 3px;
    background-color: #ffffff;
    padding: 5px;
    font-size: 3vw;

}

.linkedin{
    border: 0.5px solid #3700b3;
    color: #3700b3;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 5px;
    margin-left: 5px;
    font-size: 3vw;

}

.medium{
    border: 0.5px solid #3700b3;
    color: #3700b3;
    border-radius: 3px;

    background-color: #ffffff;
    padding: 5px;
    margin-left: 5px;
    font-size: 3vw;
}