* {
    margin: 0px;
    padding: 0px;
    outline: ;
    color: white;
    background-color: #2b2b2b;
    font-family: monospace;
    font-weight: bold;
    font-size: 2.5vh;
}

#main_container {
    background-color:#2b2b2b;
    height: 100vh;

    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 5fr 6fr 1fr;
    
}

@media screen and (min-width: 700px) {
    #main_container{
        margin-left: 50px;
        margin-right: 50px;

    }
}

#container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
    margin: 3px;
}

.box1{
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center ;
    padding: 4px;
}

.box2{
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center ;
    padding: 4px;
}

#container2{
    display: grid;
    grid-template-rows: 2fr 1fr;
    margin-top: 20px;
    text-align: center;

}

.cup1{
    
    display: flex;
    justify-content: center;
    align-content: center;
}

.cup2{
    margin: 4px;
}
.proficont{
    border:;
    height:100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    text-align: center;

}

.propic{
    height: 100px%;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    
}

#container3{
    display: grid;
    margin-bottom: 50px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}

.button{
    border-radius: 15px;
    margin-top: 10px;

}






#container4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.material-symbols-outlined{
    color: black ;
    background-color: white;
}

.cv_download{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

h6{
    font-size:xx-small;
    color: black;
    text-decoration: underline;
}

.footer1{

    display: flex;
    align-items:flex-end ;
    justify-content: center ;
    

}
.light{
    background-color: white;
}
.dark{
    background-color: black;
}

a{
    text-decoration: none !important;
    color: black;
    background-color: white;
}