*{
    margin: 0px;
    outline: ;
}

body{
    background-image: url('photos/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav_container{
    border: ;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo{
    border: ;
    font-family: 'Mulish', sans-serif;
}
.zuluphoto{
    height: 69px;
    width: 7vw;
    margin-left: 0px
}

.KC{
    border: ;
    background-color: black;
    color: WHITE;
    font-size: 30px;
    margin-left: 1px;
    font-family:;
}

.Menu{
    border: 2px solid black;
    margin-right: 5px;
    
}

.subscribe_button{
    height: 50px;
    width: auto;
    padding: 7px;
    background-color: black;
    color: white;
    margin-right: 5px;




}
.nav_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home_nav{
    border:;
    margin-top: 20px;
}

.menu_page{
    border: ;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3vh;
}

.menu_bar{
    border: 2px solid black;
    font-weight: bold;
    padding: 1px;
    border-radius: 7px
}

.search_bar{
    width: 83%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.searchinput{
    width: 80%;
    border-radius: 7px;
    background: local;

}

.find{
    border-radius: 7px;
    margin-left: 5px;
    background: local;
}

.index{
    border:;
    text-align: center;
    
    height: 30px;
    margin-top: 10px;
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
}

.index_2{
    border: 0.5px ;
    
    text-align: center;
    font-weight: bolder ;
    height: 30px;
    width: 100%;
    font-size: 3vh;
    background: local;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}

.page_1{
    border:;
    font-family: Arial, Helvetica, sans-serif;
    
    height: 400px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    background: local;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    color: #000000;
}

.title_area{
    border: ;
    height: 10%;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;

}

.photo_title{
    border: ;
    height: 76%;

}

.date{
    border: ;
    height: 10%;
    text-align: center;

}





.liked_articles{
    border: 0.5px solid #4169e1;
    /*background-color: #89a6ff;*/
    height: 500px;
    
    display: flex;
    flex-direction:column;
    width: 100%;
    margin: auto;
    margin-top: 32px;

    background: local;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    color: #000000;
    
}

.liked_title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vh;
    font-weight: bold;

}

.liked_list{

}

.footer{

    border: 3pxsolid green;
    height: 200px;
    width: 100%;
    background-color: #201e1e;
    margin-top: 30px;
    color: #ffffff;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vh;
    font-weight: bold;
}



.icon{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

