

.container_main{
    border: ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;

}

.cont_1{
    color: white;
    font-size: 2vw ;

    background-color:  #1d1c2e;
}

.excelpic {
    border: ;
    width: 100%;
    
}





.cont_2{

    background-color: #52b2bf;
}

.cont_3{

    background-color: #99c68e;
}

.cont_4{

    background-color: #1e3932;
}

.cont_5{

    background-color: #dff9ba;
}

.cont_6{
    background-color: #d4e;
}