.index_bar{
    height: 40px;
    /*border: 0.1px solid green*/;
    width: 100%;
    background-color: #9f9f9f;
    text-align: center;

}

.heading_1{
    font-size: 30px;
    text-align: center;
    
}

.para_1{
    font-size: 25px;
    word-spacing: 5px;
    font-family:;
    
}

.page_index{
    height: 40px;
    /*border: 0.1px solid green*/;
    width: 100%;
    background-color: #9f9f9f;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    font-family:;

}